[2018-03-12 17:35] greenkeeper[bot] opened #1 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-03-13 10:53] jacogr opened #3 "Add @polkadot/ui build on Travis"

[2018-03-14 11:28] jacogr commented on #3
Closed in #4

[2018-03-14 11:28] #3 closed

[2018-03-14 11:28] jacogr commented on #1
Closed in #4

[2018-03-14 11:28] #1 closed

[2018-12-07 09:18] jacogr opened #7 "Converts tests to TypeScript, *.spec.js -> *.spec.ts"

[2018-12-07 13:07] jacogr opened #9 "Add docs for the packages (like we have in api & common)"

[2018-12-30 11:44] jacogr opened #41 "Dev/Local networkId to match 42"
0 (as current) is reserved to Polkadot live

[2018-12-30 11:44] #41 closed, assigned to nobody

[2019-01-09 09:23] jacogr opened #58 "Move @polkadot/api (& friends) to peerDependencies"
It it rather overwhelming having to update the dependency tree for all these.

[2019-01-09 09:46] #58 closed, assigned to nobody

[2019-01-17 18:35] jacogr opened #65 "Remove tokenId & decimals from this config (in spec file)"

[2019-02-05 04:48] pmespresso opened #67 "The correct way to save an external account on keyring?"
I am trying to use it to save an account without unlocking it for later reuse in substrate-light-ui. So users can save an account they frequently transact into an address book.

I see one way is using `createAccountExternal` which I see is [defined](https://github.com/polkadot-js/ui/blob/c0c882e2f5529b89893731481c74b3b417ff4074/packages/ui-keyring/src/types.ts#L38) and [exported](https://github.co

[2019-02-05 05:57] jacogr commented on #67
I knew the naming is going to create issues. ‘external’ accounts are meant for accounts not managed by this keyring, an example is one where Parity Signer manages the keys. (The closest we have use for it atm is the WIP PR to bring in QR codes, but that still has some way)

When I am at the PC will pop in some samples - these are sorely missing here.

[2019-02-05 06:11] jacogr commented on #67
To save an address -

`keyring.saveAddress(address, { name });`

So the difference here is that is it not saved as a pair (the keyring only saves real accounts as pairs). So retrieval can be done with -

- the observables (there is one for all accounts and one for all addresses)
- `keyring.getAddresses()` or `keyring.getAddress(address, type)` - type here defaults to `address`, can also be `accoun

[2019-02-05 06:36] pmespresso commented on #67
Thanks! I'll add those to the Usage Examples in the README :)

[2019-02-07 04:42] #67 closed, assigned to nobody

[2019-02-13 15:38] jacogr opened #73 "Introduce Ristretto support"
- Requires https://github.com/polkadot-js/common/issues/298

[2019-02-15 10:16] jacogr commented on #73
Closed in #72

[2019-02-15 10:16] #73 closed, assigned to nobody

[2019-02-20 13:55] #65 closed, assigned to nobody

[2019-02-27 10:18] #7 closed, assigned to nobody

[2019-02-27 10:18] #9 closed, assigned to nobody

[2019-02-28 13:19] jacogr opened #87 "Keyring rewrite fails on spaces"
Detected on my keys for substrate-ui.parity.io

[2019-02-28 13:41] #87 closed, assigned to nobody

[2019-03-20 16:34] Stefie opened #98 "Identicon not working on external projects"
Setup:
I'm building an app with  https://nextjs.org/ and I want to include the `<Identicon />` component. I'm getting a `ReferenceError: window is not defined` error and I think triggered by https://github.com/polkadot-js/ui/blob/10d22e2b844874b17393db7852331ca5064fe6d4/packages/ui-settings/src/defaults.ts#L47

<img width="798" alt="Screenshot 2019-03-20 at 17 06 50" src="https://user-images.githu

[2019-03-21 10:11] #98 closed, assigned to nobody

[2019-03-24 19:50] jacogr opened #102 "Align create/add exposed functions (same functionality)"
i.e. currently `createUri` in `@polkadot/keyring` and `createFromUri` in `@polkadot/ui-keyring`

[2019-04-02 11:28] jacogr opened #108 "Move ui-util to common repo (exposed on @polkadot/util)"
All these - https://github.com/polkadot-js/ui/tree/master/packages/ui-util/src

Make it backwards compatible, i.e. do no break usage for exiting ui-util (This can just import new from util)

[2019-04-02 12:24] callmewhy opened #109 "Can I make a vue PR?"
Hi, I am writing a polkadot browser in Vue now.
But the components in this ui repo are written in React. Can I make a PR to create some Vue components? For now, all I need is the [Identicon](https://github.com/polkadot-js/ui/tree/master/packages/ui-identicon).

Thanks

[2019-04-02 12:32] jacogr commented on #109
100% - please go ahead, will merge it no issues - if it helps you, it will help others.

[2019-04-02 12:37] #108 closed, assigned to nobody

[2019-04-10 09:55] ltfschoen opened #112 "Error 404 at polkadot.js.org/ui"
When I go to https://polkadot.js.org/ui/ it returns 404

[2019-04-10 15:08] jacogr commented on #112
Same issue that was previously solved on api & common (vuepress 46 issues, bumped all to 47 since it has been released)

[2019-04-10 15:08] #112 closed, assigned to nobody

[2019-04-17 13:25] ghost opened #116 "Restoring account discards key type information..."
... which leads to `sr25519` keys to be incorrectly restored as `ed25519` keys, leading to further errors.

The culprit appears to be this line:
https://github.com/polkadot-js/ui/blob/master/packages/ui-keyring/src/Keyring.ts#L205

Here, the keyring default type is being passed instead of the type encoded in the JSON payload.

[2019-04-18 06:55] #116 closed, assigned to pmespresso

[2019-05-10 14:15] amaury1093 opened #124 "Make ui-keyring storage-agnostic"
ui-keyring is just a wrapper around `@polkadot/keyring` which stores symmetrically-encrypted keys in localStorage. This can only work in web environment.

I'd propose to make it storage-agnostic, and create separately several transports:
- localStorage (for when security is not important, e.g. testnets)
- AsyncStorage (for React Native)
- file system (if used in node.js)

[2019-05-10 14:48] jacogr commented on #124
Happy with that approach, although probably wouldn't worry about the 3rd option until requested as such.

[2019-05-10 14:50] amaury1093 commented on #124
The 3rd one is the one we wish to use in Light UI: https://github.com/paritytech/substrate-light-ui/issues/315

Still not convinced about localStorage, even in Electron where the attack surface is smaller

[2019-05-10 14:54] jacogr commented on #124
Ahhh, ok, so there is a use. Perfect.

Until we have extensions & the signer ready, it is what we have to work with in apps. As soon as the first extension drops, apps will move away. (Basic info will still be there, i.e. addresses, and the list of accounts without keys, i.e. as per signer)

[2019-05-22 13:14] amaury1093 opened #133 ".getMeta() should not throw Error"
Doing this:

[code]
And it throws an Error if address is not found. This leads to a lot of try/catch in the code, which is very ugly.

A better api would be `keyring.getAddress(address) -> KeyringAddress | undefined`

[2019-06-05 15:42] axelchalon commented on #124
A refactoring idea. What do you think?

We want to make ui-keyring storage-agnostic.

However, if it is storage-agnostic, it isn't bound to the browser anymore, and so it makes no sense for it to reside in ui-keyring anymore. Hence, I propose having the storage-agnostic keyring in the `@polkadot/common` package. We could rename it PersistentKeyring. We would initialize it with a store of our choos

[2019-06-05 17:20] jacogr commented on #124
It is currently pluggable from a storage perspective.

By default it will use the as-is store https://github.com/polkadot-js/ui/blob/master/packages/ui-keyring/src/stores/LocalStorage.ts, however can be swapped out, i.e. the extension uses https://github.com/polkadot-js/extension/blob/master/packages/extension/src/background/ChromeStore.ts (was much easier developing it in where it-is-used, should

[2019-06-06 14:53] axelchalon commented on #124
Yes, I forgot to mention that you already made ui-keyring storage-agnostic ^^ (so I guess this issue could be closed actually?)

:+1:

Agreed, I just meant that the genericSubjects (addressObservable, accountObservable) can be used and modified(!) outside of the keyring (in substrate-light-ui we use `import addressObservable from '@polkadot/ui-keyring/observable/addresses'` to subscribe to the obs

[2019-06-06 15:40] jacogr commented on #124
Yes, there needs to be a different solution so you cannot "muck about" with the observable. apps also uses the observable directly, but just to "observe", so `subscribe` and done.

Additions to FileStore is welcome, not sure it works. (But started typing and couldn't stop.) The repo, as the name suggests, really is specific to the browser, and Electron is a browser as well. It is not too much of a

[2019-06-06 16:13] #124 closed, assigned to axelchalon

[2019-06-07 15:47] axelchalon commented on #133
Is it too cumbersome to use `isValid`?

[code]

otherwise --

currently the address & meta is [fetched when calling `.getMeta()`](https://github.com/polkadot-js/ui/blob/f440b956714649109bba4ddf1824605120565d59/packages/ui-keyring/src/Keyring.ts#L158). if we just add a check in `keyring.getAddress` to return undefined if the address doesn't exist when calling `keyring.getAddress`, there is no guara

[2019-06-07 16:27] jacogr commented on #133
Would be happy with that approach. (Additions that make it easier and simpler to use is always good)

[2019-06-13 14:21] jacogr commented on #133
Just an update on the changes @kwingram25 pulled in while supporting contracts - `getAddress(<address>, <optional type>)` take a type. e.g. specifying `account` will only return accounts. However when the type is not specified (`null`), it will search accounts, addresses & contracts observables to try and find any - if not found in any of these, it will bail.

[2019-06-19 16:17] #133 closed, assigned to axelchalon

[2019-07-12 10:37] yangwao commented on #109
As I have more experience with Vue.js, I would like to participate in this to make Vue.js components.
@callmewhy any progress on this?

[2019-07-16 18:08] qalqi opened #157 "@polkadot/ui-keyring fails in react native"
File.ts with FileStore is causing the issue.

Metro bundler of react-native does not have native support for fs.

fs can be overridden to react-native-fs by adding the following to metro.config.js
[code]

But it doesn't have react-native-fs readdirSync,  unlinkSync,  writeFileSync,  readFileSync

Also, it seems to be File.ts, Extension.ts and Browser.ts have redundant code

[2019-07-16 18:48] jacogr commented on #157
It is actually the same issue on the web, the stores should probably be split out completely.

[2019-07-17 06:16] #157 closed, assigned to nobody

[2019-07-20 09:20] jacogr commented on #109
@yangwao As I indicated initially, quite happy to merge Vue as well. We could certainly add either `ui-vue/<components>` or `vue-<compoonent>` (i.e. `vue-identicon`)

I'm thinking the identicon one is actually the most pressing. There for,

- substrate - the jdenticon should be easily portable (hopefully)
- polkadot - here we will need to split the actual generate logic out first (it is embedded a

[2019-07-23 20:52] mariopino commented on #109
Hi,

I'm interested too. I'm working in a vue component for the jidenticon, the easier one :-)

I see in https://github.com/polkadot-js/ui/blob/master/packages/ui-identicon/src/icons/Jdenticon.tsx
that the the value used to generate the icon is:

publicKey.substr(2)

I want to ask how can i get the public key of an accountId? I need to make a api call?

[2019-07-23 20:56] jacogr commented on #109
So there the key is passed in as hex (hence the substr(2))`.

For the ss-58 -> publicKey (Uint8Array) -> publicKey (hex),

[code]

[2019-07-23 21:14] mariopino commented on #109
Thanks for help, I'll try to get apart u8aToHex and decodeAddress functions.

[2019-07-23 21:56] mariopino commented on #109
https://github.com/polkadot-js/common/blob/master/packages/util/src/u8a/toHex.ts is ported and works as expected.

Code:

`this.hex = this.u8aToHex(new Uint8Array([0x68, 0x65, 0x6c, 0x6c, 0xf]));`

Output:

`68656c6c0f`

I see that decodeAddress (https://github.com/polkadot-js/common/blob/master/packages/util-crypto/src/address/decode.ts) have many dependencies so i'm working on a dependency list

[2019-07-23 21:59] jacogr commented on #109
So not sure why you are pulling out the common (i.e. `@polkadot/util` & `@polkadot/util-crypto`) stuff at all. I can understand removing the React deps, but the JS libs are in use on mobile JS, web JS and node.

[2019-07-23 22:04] mariopino commented on #109
Yes, there is no reason to do that instead of simply import them, time to go to sleep :-)

[2019-07-23 22:23] mariopino commented on #109
The code of the vue component is finally pretty simple:

[code]
You can use in vue as:

`<jdenticon :address="validator.accountId" :size="100" />`

I tested the svg ouput and it is the same as show in https://polkadot.js.org/apps/ using Substrate theme.

[2019-07-24 06:31] jacogr opened #162 "Rename ui-identicon to react-identicon"
Related to #109 - be specific in the actual UI libraries used

[2019-07-24 15:12] mariopino commented on #109
Hi, I created a repo to test the package of the component:

https://github.com/Colm3na/vue-identicon

I added the prop theme to the component, although substrate is the only possibility by the moment.

Please, let me know what do you think.

[2019-07-24 16:20] jacogr commented on #109
@mariopino That is really cool.

Would love that as a base to start building out the `vue-*` packages in this repo. So if you ever feel like contributing it back here, it would be appreciated.

[2019-07-24 16:48] mariopino commented on #109
Sure I'm happy to contribute 👍 Next step is to add polkadot icons theme support.

[2019-07-25 00:14] mariopino commented on #109
I found a way to use react components in vue: https://github.com/akxcv/vuera

I created a new repo to test the integration of ui-identicon and works perfectly :

![screenshot](https://user-images.githubusercontent.com/9256178/61836564-0d613780-ae81-11e9-8d45-01a3f5bddccf.jpg)

https://github.com/Colm3na/vue-identicon-vuera

The size of the built files is big as expected :-):

[code]

The overhead

[2019-07-29 09:30] #162 closed, assigned to nobody

[2019-07-29 13:37] jacogr opened #167 "Move Polkadot identicon logic (color calc, etc) to ui-shared"
- All the class-level functions are mostly utility functions, e.g. https://github.com/polkadot-js/ui/blob/master/packages/react-identicon/src/icons/Polkadot.tsx#L132
- Use from `react-identicon/Polkadot`
- Makes https://github.com/polkadot-js/ui/issues/109 possibly with shared logic

So the rendering will be frameworks specific, the calculations will be shared

[2019-08-01 09:56] #167 closed, assigned to nobody

[2019-08-06 11:15] #109 closed, assigned to nobody

[2019-08-06 14:15] mariopino commented on #109
Thanks @jacogr! cool to have the possibility to use the component in Vue.js without react dependencies.

[2019-08-06 14:25] pmespresso opened #180 "react-qr UOS payload vs. message"
according to @maciejhirsz : https://github.com/maciejhirsz/uos#substrate-payload,

* `payload` MUST be the SCALE encoding of the tuple of transaction items (nonce, call, era_description, era_header).
* `payload_hash` MUST be the Blake2s 32-byte hash of the SCALE encoding of the tuple of  transaction items (nonce, call, era_description, era_header).
* `immortal_payload` MUST be the SCALE encoding o

[2019-08-06 14:28] jacogr commented on #180
Ok, so the QR is completely independent of that, that is up to the user and it not part of this at all. The way it works -

- ExtrinsicPayload
- toU8a it
- send it to the QR

[2019-08-06 14:28] #180 closed, assigned to nobody

[2019-08-06 14:30] jacogr commented on #180
As an aside, the above description is wrong for extrinsic v3. (payload has genesisHash as well)

[2019-08-06 14:34] pmespresso commented on #180
ahh okay, thank you for the super quick response

[2019-08-06 14:37] jacogr commented on #180
So there may very well be some tweaks required - however, the QR really doesn't care about the data passed, it can be anything. (If we try and build in tx logic here, we are setting ourselves up for failures - whatever it gets in must already be encoded, `@polkadot/types` handles all that and really tracks the extrinsic formats)

However... there may be that we are missing an additional flag based

[2019-08-06 22:43] mariopino opened #181 "Typo in vue-identicon README"
Hi,

There is a typo in line 7 in https://github.com/polkadot-js/ui/blob/master/packages/vue-identicon/README.md

Must be:

Thanks!

[2019-08-07 07:55] mariopino commented on #181
In same file:

[code]

Must be:

[code]

[2019-08-09 09:04] jacogr commented on #181
PRs for these are always good, take just as long to make on GitHub itself than to log. Cleaned up a bit in another unrelated PR, so closing.

[2019-08-09 09:04] #181 closed, assigned to nobody

[2019-08-22 13:31] Andkoo opened #187 "_store.default.get is not a function"
My webpack is set to look for modules in my `/src` directory first, then to look for them in `/node_modules` so I could do `import { Button } from 'components'` (it refers to `/src/components/Button/index.js`), for example.

However, I also have a `/src/store` folder, which includes all the Redux stuff - actions, reducers etc. This setup produces an error `_store.default.get is not a function`.

I

[2019-08-22 13:34] jacogr commented on #187
`store` in this case refers to this package - https://www.npmjs.com/package/store

So it is not an "internal" dependency, those all refer by path.

[2019-08-22 13:57] Andkoo commented on #187
I am sorry, I am a little bit confused here. What do you mean by `So it is not an "internal" dependency, those all refer by path.`? The problem is that I can't have a folder named `store` to be a home to my Redux stuff, because `ui-settings` is then requiring my `store` folder instead of the package ([https://www.npmjs.com/package/store](https://www.npmjs.com/package/store)) and it's crashing the

[2019-08-22 14:18] jacogr commented on #187
This is related to your specific project setup. So how can this package with JS files rename the nmpjs dependency and then import that rename? Unless we fork that package, rename it and republish it.

There is no configuration here with the packages, no webpack, no post-install scripts that does magic. It simply requires an external npmjs dependency. Nothing special.

If this was caused by the `ui

[2019-08-22 20:27] Andkoo commented on #187
This shouldn't be related to my project setup, because if so, then every package, which is using `store` as its dependency, would break people's projects when they are using absolute imports and have a folder named `store` in their codebase. I don't know how your setup works, but maybe this code snippet, which points towards the root folder of the project, could help you rewrite the `require` stat

[2019-08-23 05:04] jacogr commented on #187
Closing as wontfix.

https://github.com/polkadot-js/ui/blob/master/packages/ui-settings/src/Settings.ts#L5

[2019-08-23 05:04] #187 closed, assigned to nobody

[2019-09-01 14:02] jacogr opened #196 "Split react-specific stuff from ui-keyring"
It is only on the subscription to accounts.

Rather, this can just return the address and a thin wrapper can render it on the client. The options are correct, however the react-specific stuff needs to be removed.

[2019-09-16 18:46] #196 closed, assigned to nobody

[2019-09-27 14:14] jacogr opened #218 "Introduce a example-reactnative (port of existing)"
**Background:**

This repos is a set of UI libraries that can be used across frameworks. For some frameworks (React, React Native & Vue), we do have specific components available, but there are some specific framework-specific things to take care of.

Recently we have introduced a very simple key generator example for both [React](https://github.com/polkadot-js/ui/tree/master/packages/example-reac

[2019-10-01 13:13] jacogr commented on #218
@cameronfr There is def. an issue that snuck in lately, the ui-keyring got some additional functionality that plays a bit of havoc here it would seem. The browser fields in the package.json doesn't quite seem to yield the desired results _inside_ this workspaced repo.(Externally it seems to behave fine)

Will get that sorted.

[2019-10-04 21:11] cameronfr commented on #218
Sorry for the delay. I've got a relatively clean configuration going without rn-nodeify etc. that can generate the mnemonic etc. Currently working on somehow replacing the synchronous "store" package with something asynchronous (react-native only has asynchronous storage). I'll probably use something that syncs an in-memory storage to react-native's AsyncStorage.

[2019-10-04 21:48] Web3Foundation commented on #218
np thanks for the update here @cameronfr

[2019-10-08 09:35] pmespresso opened #224 "@react-qr - 2048 frame size is too dense for iPhone 6 camera"
The qr codes for multipart messages is not picked up at all by react-native-qr, but I couldn't find any documentation on what the maximum density supported is so I'd guess it's pretty different per device and hard to predict. But if an iPhone 6 can't do it then cheaper hardware has no chance.

Proposal: we could reduce the FRAME_SIZE to 1024 or so and use more frames? tested this and it was about

[2019-10-08 09:48] jacogr commented on #224
Initially I had it at 1536 (1024 + 512).

I believe the 1024 is probably fine (without config overrides) - most of the messages will fit in a frame or two - bond, stake, nominate (this may be a couple of frames), voting, setKeys (even with 4 keys, it is max 2 frames), transfer - this is 99.9% of messages that will be signed.

[2019-10-08 14:21] #224 closed, assigned to nobody

[2019-10-10 16:23] jacogr commented on #218
@gitcoinbot We are close :) PR is there, last dangling bits. https://github.com/polkadot-js/ui/pull/223

@cameronfr You probably just need to link it on Gitcoin.

[2019-10-10 19:23] jacogr commented on #218
Thank you! @Web3Foundation Can you please schedule payment on this bounty?

[2019-10-10 19:23] #218 closed, assigned to nobody

[2019-10-10 22:03] Web3Foundation commented on #218
Thanks for completing this bounty @cameronfr do you mind taking this 2 minute survey about your experience with this issue! https://forms.gle/QgWdQoTykMKH2Q3B8

[2019-10-23 11:03] pmespresso opened #233 "Proposal: UX enhancement for when Multipart frame cannot be scanned in time"
This is a transferred from this issue in Parity Signer https://github.com/paritytech/parity-signer/issues/320. Low priority but food for thought.
---
as discussed with Maciej, there is a possibility that multipart payloads could get stuck infinitely with a particular fps.

for an example with 3 frames:

1. frame 1 cannot be scanned to completion before the the next frame is shown by hot wallet
2.

[2019-10-23 11:24] jacogr commented on #233
The auto-slowdown after a cycle may not be a bad thing. No clutter UI-wise.

[2019-10-23 12:14] pmespresso commented on #233
One more thing I forgot to note: - Give user ability to skip to any particular frame number. https://github.com/paritytech/parity-signer/issues/426

This could be done without cluttering the UI if we just have a single slider.

[2019-11-10 15:45] #233 closed, assigned to nobody

[2019-11-10 17:47] pmespresso commented on #233
recap on chat with @burdges, there are several variations of fountain codes that would provide much more practical UX improvements than having to scroll back to some frame index after missing it - https://github.com/paritytech/parity-signer/issues/457

I did some research on [RaptorQ ](https://github.com/cberner/raptorq) fountain codes; the only caveat is that the Offline Signer needs to initializ

[2019-11-10 21:20] burdges commented on #233
Is there entropy in the config or something that prevents it being fixed?

We should not require any setup round trip with most erasure codes, although they do need to know the size of what they're decoding, but presumably you can report that in every frame.  In other words, a frame is (num_shards,shard_idx,shard_data).

[2019-11-10 21:29] jacogr commented on #233
Can implement whatever the uos spec specifies, have no specific horse in the race. (Would just suggest updating the spec and then opening a specific issue).

[2019-11-11 09:40] pmespresso commented on #233
there is no entropy in the config, it just needs to know the size of the data, but the [RaptorQ library](https://github.com/cberner/raptorq) doesn't allow for configuring the extra shard info like that out of the box though maybe they're accepting PRs. So w.r.t to the UOS multipart spec, we'd just change the terminology a bit, i.e. `(frame_idx, frame_count, part_data)` to `(shard_idx, shard_count,

[2020-01-21 13:14] jacogr opened #261 "Align with name info in QR"
As per https://github.com/paritytech/parity-signer/issues/534

[2020-01-21 13:24] #261 closed, assigned to nobody

[2020-06-28 09:57] yashirooooo opened #337 "[ui-keyring] FileStore"
When I use it in the environment of eletron, when the target of webpack is set to electron-main,  websocket will report that the module cannot be found, what should I do

[2020-06-28 10:01] jacogr commented on #337
The apps UI has this file store implemented for electron - https://github.com/polkadot-js/apps/blob/master/packages/apps-electron/src/renderer/remote-electron-store.ts

(Which is then passed to the ui-keyring on construction in `keyring.loadAll({ ...otherOptions, store: electronStore })`

[2020-06-29 02:34] yashirooooo commented on #337
Thank you, but our approach is to package it into sdk and use my packaged sdk directly in the app. I directly rely on ui-keyring

[2020-06-29 06:06] jacogr commented on #337
So really not sure about your error description here - the apps UI itself is also packaged as an electron app (see the releases pages for the packaged apps there) and relies on ui-keyring. So this is not an unused approach in this group of repos.

Maybe you could provide the exact errors?

[2020-06-29 06:16] yashirooooo commented on #337
I rely on ui-keyring and use the FileStore class to operate on the folder,In the node environment, the operation of the account pair is possible, but when I use it in the electron environment, if I use the packaging method as electron-main dialogue, it will report websocket this report export pair error ( This package seems to depend on the polkadot-js/rpc package), if I set the target to eletron-

[2020-06-29 06:17] yashirooooo commented on #337
export default class Electron extends BaseApi {

    fileStore: FileStore

    constructor(endpoint: Endpoint,storePath:string) {
        super(endpoint, new RemoteElectron(storePath));
        this.fileStore = new FileStore(storePath);
    }

    all = () => {
        let result: KeyringJson[] = [];
        const collect = (key: string, value: KeyringJson) => {
            result = [...result, va

[2020-06-29 06:18] yashirooooo commented on #337
in the electron app code :
const electron = window.electron;
const remote = electron.remote
const path  = require('path');

const ACCOUNTS_SUBFOLDER = 'polkadot-accounts';
const defaultStorePath = path.join(remote.app.getPath('userData'), ACCOUNTS_SUBFOLDER);

const endpoint = new Endpoint('ws://xxxxxxxxx')
export const electronApi = new Electron(endpoint, defaultStorePath);

[2020-06-29 06:19] yashirooooo commented on #337
in the craco.config.js :

module.exports = {
    webpack: {
        configure: {
            target: 'electron-renderer'
        }
    },
    plugins: [

[2020-06-29 06:23] yashirooooo commented on #337
In the SDK, I encapsulate a method for obtaining account information

public async accountsInfo() {
        return await this.endpoint.api.then(async (api) => {
            const accounts = this.all();
            for (let _accountInfo of accounts) {
                const accountInfo = convertToObj(await api.query.system.account(_accountInfo.address));
                _accountInfo.meta.total = acc

[2020-06-29 06:30] yashirooooo commented on #337
If I set the target to electron-main, the following error will be reported:
`[0] ./node_modules/websocket/lib/BufferUtil.js
[0] Module not found: Can't resolve '../build/Release/bufferutil' in '/Users/yuhui/Downloads/crust-pan/node_modules/websocket/lib'
[0]
[0] ./node_modules/websocket/lib/Validation.js
[0] Module not found: Can't resolve '../build/Release/validation' in '/Users/yuhui/Downloads/c

[2020-06-29 06:32] yashirooooo commented on #337
If I set the target to electron-renderer, no error will be reported, but when getting all account information, I can't get all

[2020-06-29 06:36] jacogr commented on #337
There is no dependencies from keyring to API RPC. In the above error don't see any references to the `@polkadot` packages, so cannot extract which modules it is unhappy with.

EDIT: The apps UI also used the electron-main target, see https://github.com/polkadot-js/apps/blob/master/packages/apps-electron/webpack.main.config.js#L50

[2020-06-29 06:40] yashirooooo commented on #337
I read your application in this, my sdk also contains the dependency of @polkadot/api, because I want to get some user information from the chain

[2020-06-29 06:50] yashirooooo commented on #337
`Uncaught ReferenceError: exports is not defined at 0.chunk.js:1 (anonymous) @ 0.chunk.js:1
 Uncaught ReferenceError: exports is not defined  at main.chunk.js:1`

[2020-06-29 07:19] jacogr commented on #337
The above still doesn't point to anything that can be actioned - that can be,

- from `@polkadot`
- from a dependency of the above
- from the code itself
- from any other dependency included

[2020-06-29 07:29] yashirooooo commented on #337
Thank you very much, I think I should go to see more information about electron packaging

[2020-06-30 07:25] yashirooooo commented on #337
Thank you very much for making such a useful tool for us, But I found some problems when using FileStore, That's when I use FileStore to get all accounts, If there is a non-backup format file (non-json format) under the user's folder, it will directly report an error, The specific method of reporting an error is probably `_private _readKey (key: string): KeyringJson {
    return JSON.parse(

[2020-06-30 07:52] jacogr commented on #337
PRs are always welcome for improvements. The `FileStore` as i stands is relatively new and untested in the wild, so very possible that it has some issues in use. Always easier to trace and find these with specific use, so the fixes are known tested.

For filtering this can be adjusted - https://github.com/polkadot-js/ui/blob/master/packages/ui-keyring/src/stores/File.ts#L26

(Like I mentioned befo

[2020-07-03 10:54] jacogr commented on #337
Closing has protections in place for Mac files & invalid parsed.

[2020-07-03 10:54] #337 closed, assigned to nobody

[2020-07-21 06:19] jacogr opened #347 "Add migration to JSON v3"
https://github.com/polkadot-js/common/pull/637

Detect, convert on unlock.

[2020-08-27 10:11] jacogr opened #359 "Swap docs to docusaurus.io"

[2020-10-14 12:26] jacogr opened #380 "Use ss58 from @polkadot/networks"
From https://github.com/polkadot-js/common/pull/707

Replacing this https://github.com/polkadot-js/ui/blob/master/packages/ui-settings/src/defaults/ss58.ts

[2020-10-14 23:35] jacogr commented on #380
Example in the apps UI - https://github.com/polkadot-js/apps/pull/3876

[2020-10-15 00:26] jacogr commented on #380
Support for multiple hashes (as per known hashes), available in https://github.com/polkadot-js/common/pull/710

[2020-10-16 10:35] Tbaut commented on #380
I'll tackle that while I'm here

[2020-10-17 08:56] #380 closed, assigned to Tbaut

[2020-10-20 12:28] m-saxemberg opened #385 "Add emphasis to staking.withdrawUnbonded(num_slashing_spans)"
Currently the function
staking.withdrawUnbonded(num_slashing_spans)
currently located under the staking tab in account actions next to the list of addresses is presented as a small lock icon next to the balance.
![lock](https://user-images.githubusercontent.com/66218777/96585351-18359280-12a5-11eb-8454-d8b8d86e5c53.png)
I'd like to propose to include a more explicit message when said address is re

[2020-10-20 13:11] #385 closed, assigned to nobody

[2020-10-20 13:12] m-saxemberg commented on #385
Wrong repository.

[2020-10-20 13:34] jacogr commented on #385
No issues, thanks for re-logging (would have moved it anyway, you just beat me to it)

[2020-10-26 11:31] jacogr commented on #359
Done.

[2020-10-26 11:31] #359 closed, assigned to nobody

[2020-11-03 13:25] jacogr opened #390 "New icon style/theme for Ethereum"
As per https://github.com/polkadot-js/apps/pull/3961#issuecomment-721110545

[2020-11-03 14:35] #390 closed, assigned to nobody

[2020-11-06 10:10] joelamouche opened #393 "Problem with keyring loading ethereum addresses in react-api"
### Reproduce

- go to address page
- add an ethereum address
- refresh

### Error

`Expected a valid key to convert, with length 1, 2, 4, 8, 32, 33`

### Where
At /apps/packages/react-api/src/Api.tsx at the // finally load the keyring step, I have Error: Expected a valid key to convert, with length 1, 2, 4, 8, 32, 33 even though I modified the code this way:

[code]

**Also, I noticed that this f

[2020-11-06 10:15] joelamouche commented on #393
NB: I tried adding @polkadot/ui-keyring to react-api dependencies and it didn't solve the problem

[2020-11-06 10:40] jacogr commented on #393
Comes from here - https://github.com/polkadot-js/common/blob/master/packages/util-crypto/src/address/encode.ts

Which means that ui-keyring doesn't call the correct conversion function and most probably points here - https://github.com/polkadot-js/ui/blob/master/packages/ui-keyring/src/Keyring.ts#L198

[2020-11-06 10:48] jacogr commented on #393
Is it possible to send the an actual JSON file contents (& key) as it appears in storage? (Will aid setting up an actual test for this)

[2020-11-06 10:56] joelamouche commented on #393
Yes so in `https://github.com/polkadot-js/ui/blob/master/packages/ui-keyring/src/Keyring.ts#L198` we should replace

[code]
with

[code]

and add type in the parameters

[2020-11-06 11:06] joelamouche commented on #393
@jacogr

at

[code]

<img width="523" alt="Screenshot 2020-11-06 at 12 05 08" src="https://user-images.githubusercontent.com/16758383/98359330-57dfd680-2028-11eb-942b-8616aac0f1cb.png">

[code]

[2020-11-06 13:04] joelamouche commented on #393
awesome it works now! thank you

[2020-11-06 13:04] #393 closed, assigned to nobody

[2020-12-05 11:38] jacogr commented on #102
Actually took a look. These are very different. So while the naming differs, so does the actual underlying code.

[2020-12-05 11:38] #102 closed, assigned to nobody

[2021-02-23 13:18] BubbleBear opened #442 "mkdirp dependency throwing exception when running examples"
node version: v14, v12
yarn version: 2.4.0
OS: windows 10, OSX latest

@jacogr would you please take a look? appreciate for your precious time sire.

![image](https://user-images.githubusercontent.com/17879773/108848711-48f35300-761c-11eb-9ac3-4e7d649187f9.png)

[2021-02-23 16:17] jacogr commented on #442
Honestly not sure where this comes from. The „tapper“ doe not look familiar at all.

Sadly non of the build scripts nor examples has been tested on Windows, so not sure where it originates.

Would be great if it did support all OS, but not something I can attest to.

[2021-02-24 02:09] BubbleBear commented on #442
Hi Jaco, thx for the reply.
It happens on OSX 10.14.6 as well.
The error was thrown by `node_modules/mkdirp/lib/opts-arg.js` when it receive a function type argument.

![image](https://user-images.githubusercontent.com/17879773/108935024-1121f500-7688-11eb-8f8f-b53415ecd925.png)

[2021-02-25 12:07] huhu2356 commented on #442
Hi, i meet the same issue in macos 10.13.6;
i change mkdirp version from ^1.0.4 to ^0.5.5 that resolve the issue;
[code]
Additional, may need add babel-loader pacakge to devDependencies for execute example:react;

[2021-02-25 12:20] BubbleBear commented on #442
cool, thx. it solves my problem.

[2021-02-28 13:22] jacogr commented on #442
Closing, the resolution has been removed, so it _should_ be operational now...

[2021-02-28 13:22] #442 closed, assigned to nobody

[2021-06-17 05:59] jbargu opened #485 "Error: Cannot find module '../../babel.config.js'"
1. I cloned a fresh repo.
2. Ran `yarn`.
3. Ran `yarn example:react`.

I get the following error:

[code]

Version:
[code]

[2021-06-17 06:51] #485 closed, assigned to nobody

[2021-06-17 15:10] joelamouche opened #487 "Return error in ScanAddress component"
So the modification I did previously actually didn't solve my problem because in the ScanAddress component the assert is called before the callback. Therefore, if the prefix is wrong, an error is thrown inside the component and the app errors in the console instead of displaying an error.

So what I suggest is that when the error is caught line 46, the onScan function be called with an error field

[2021-06-18 05:07] jacogr commented on #487
The `onError` is provided, so any errors can just be pushed through that. Something like -

[code]

Really don't know why that was not already in-place, seems like an oversight.

[2021-06-21 14:19] #487 closed, assigned to nobody

[2021-06-24 14:20] vikiival opened #493 "keyring setSS58Format does not propagate polkadot prefix"
I'm running local polkadot node (ss58: 0) and I found that Keyring does not propagate this.

Observe following example

[code]

[code]

[2021-06-25 09:07] #493 closed, assigned to nobody

[2021-08-03 07:48] MilGard91 opened #508 "@polkadot/vue-identicon Cannot read property 'extend' of undefined"
Hi guys,

I'm trying to use @polkadot/vue-identicon in my project, but I get error "Cannot read property 'extend' of undefined" in the Beachball.js, also what is causing the problem is "export 'default' (imported as 'Vue') was not found in 'vue'.
I'm using `vue: 3.0.11`. So wanted to check is there a repo that I can use that supports vue 3 or maybe some kind of workaround?

[2021-08-28 23:17] Tbaut opened #516 "reactnative-identicon@0.85.2 throwing "no identifiers allowed directly after numeric literal""
Hello there,
I just upgraded `reactnative-identicon` from 0.84.3 to 0.85.2 and it makes troubles, it throws the following with no stack:

![image](https://user-images.githubusercontent.com/33178835/131233035-18bb5f8e-21e7-4470-a365-b8ff863c44e3.png)

Any hint where this could come from?

My other deps:

"@polkadot/reactnative-identicon": "^0.85.2",
"@polkadot/util": "^7.3.1",
"@polkadot/util-crypt

[2021-08-29 07:14] jacogr commented on #516
Dang it. No idea, it must be a deps upgrade.

Found it as `"No identifiers allowed directly after numeric literal"` in - node_modules/@polkadot/dev/node_modules/prettier/esm/parser-meriyah.mjs

Nowhere else, so not sure how this ends up as a production issue.

Also found this - https://github.com/expo/expo/issues/12042 - the weird thing is we have not added any new `1_000`-like numbers anywhere, w

[2021-08-29 15:50] jacogr commented on #516
I took a look at the common repo compiled/build outputs, all numeric separators have been removed by the compilation phase. (This is for util & util-crypto) So no idea where this could slip in and doesn't seem to be from the polkadot-js outputs, which all use the same build.

e.g.  (only relevant lines...)

[code]

Same applies for the `node_modules/@polkadot/util/bn/consts.{js, cjs}` files as ins

[2021-08-29 16:50] Tbaut commented on #516
Thanks for your time Jaco. I've spent a couple hours on this as well, I still have no clue unfortunately. I could not find this error in the generated bundle. I've tried to force the resolution of prettier to certain versions, but this didn't change anything.

I just built an apk with this version and I can see that on a real device it actually works without issue.

edit: I checked the bundle and

[2021-08-29 17:27] jacogr commented on #516
Does expo use Babel? There is an explicit transform for these things. https://babeljs.io/docs/en/babel-plugin-transform-literals

My TL;DR atm is that I really don't think it is polkadot-js's fault here, although it seems suspicious with the versions introducing this. (Happy to be proven wrong and adjust if needed, but really cannot _find_ that it is in our generated code here)

[2021-08-29 17:40] Tbaut commented on #516
Oh here it is:
[code]
in `@polkadot/ui-shared/node_modules/color/index.js`

which comes from `color@^4.0.1` which is one of the deps that changed with the bump. Using a `  "resolutions": {"color":"^3.2.1},` solved temporarily the problem.

React-native doesn't use expo afaik? I will look at how I can add this plugin to make sure everything is compiled correctly.

As usual, thank you so much for yo

[2021-08-29 17:40] #516 closed, assigned to nobody

[2021-08-29 19:08] Tbaut commented on #516
A followup in case this can help anyone, this issue has been discussed in the color repo [here](https://github.com/Qix-/color/issues/204) and in the metro repo [here](https://github.com/facebook/metro/issues/645), and [a PR](https://github.com/facebook/metro/pull/681) was submitted to add the relevant babel plugin to `metro-react-native-babel-preset`. Until this has been merged, adding the plugin

[2021-08-29 20:50] jacogr commented on #516
Bump is reverted in https://github.com/polkadot-js/ui/pull/517 (0.85.3). I'm worried that it has a negative impact on react-native and Vue for the time being. This certainly should be addressed at the tools level, but since we don't need a bump, we may as well stick with older a bit longer and bump again in the future.

https://github.com/polkadot-js/ui/releases/tag/v0.85.3

[2021-08-31 08:46] #508 closed, assigned to nobody

[2021-09-27 04:18] nuel77 opened #522 "How to load a keyring pair with password."
i'm new to this library so i am confused trying to get the following functionality from keyring-ui
- save a keyring pair with a password, for this i used the same functionality as given by the docs..'

[code]
- what is the correct way to get back the pair i added (with password) next time ? is there any method which would give me the following functionality?
[code]

[2021-09-27 08:51] jacogr commented on #522
Call `.unlock(<password>)` on the pair before using in signing operations (and `.lock()` to re-lock)

[2021-09-29 13:49] nuel77 commented on #522
Once you unlock it, how long will it unlocked for ? until you call the .lock() method? or is there a set time limit?

[2021-09-29 13:59] jacogr commented on #522
Until lock is called.

[2021-09-29 15:13] nuel77 commented on #522
Thanks alot @jacogr

[2021-09-29 15:13] #522 closed, assigned to nobody

[2021-11-08 07:30] lolero opened #541 "https://polkadot.js.org/env-config.js returns 404 error on Linux Mint nd Chrome"
When I try to load the polkadot.js app on Chrome in my Linux Mint machine, the application stalls. After checking the network requests made by the app while loading, I noticed it fails lo load the env-config.js script.

This is my system's config
Operating system: Linux Mint 20 Cinnamon
Cinnamon version: 4.6.7
Linux kernel: 5.11.0-38-generic
Chrome version 95.0.4638.69 (Official Build) (64-bit)

I

[2021-11-08 07:48] #541 closed, assigned to nobody

[2021-11-15 12:32] Yuripetusko opened #542 "Adding react hooks example"
Hi Jaco, I have created a library that will hold a collection of useful react hooks to work with polkadot.js. Few hooks are there already and we already use them in production on singular.rmrk.app. More hooks to be added as we go and we want for community to contribute with their hooks too.

https://github.com/rmrk-team/substra-hooks

Do you think there's a place for examples on using it in this r

[2021-11-16 14:29] jacogr commented on #542
I believe so, yes. How it works exactly, haven't wrapped my head around yet, but it would certainly be very useful.

[2021-12-07 15:00] Yuripetusko commented on #542
having troubles making it work with webpack from this repo.

[2021-12-07 15:00] #542 closed, assigned to nobody

[2021-12-07 17:00] Yuripetusko commented on #542
Will try again later but this issue can be closed

[2021-12-08 07:55] khuzama98 opened #555 "keyring.loadAll showing error"
The loadAll function within keyring is not working and showing this error

![image (6)](https://user-images.githubusercontent.com/44345364/145169769-044a3024-5466-412c-991c-4cc7734c84b8.png)

I'm using it like this,

![image (7)](https://user-images.githubusercontent.com/44345364/145169912-3791ee9f-0ff8-438b-a74b-ff440f995054.png)

I can provide more information if needed, kindly help me with this

[2021-12-08 14:55] jacogr commented on #555
There is no `local` in the UI code. (There is `localStore` which is different in a browser environment)

What does your `AccountsStore` do?

[2021-12-09 09:18] khuzama98 commented on #555
Actually @jacogr , I'm building a browser extension of wallet and for reference, I was looking at Polkadot-js extension wallet and they were using accountsStore in loadAll function. And yeah the loadAll function has store as optional parameter and uses localStorage by default but if we're executing loadAll function without accountsStore then later on when I'm using a different function through key

[2021-12-09 10:52] jacogr commented on #555
The above error is different - it indicates that `loadAll` was not called before the keyring was used. As the error suggests, before the keyring can be used, `loadAll` needs to be called at least once. (In the context of the polkadot-js extension, the background page is persistent, hence it needs to be called only one, if non-persistent, YMMV)

If you are building on what the extension has, then t

[2021-12-09 14:04] khuzama98 commented on #555
Thanks @jacogr, the issue was that I haven't provided the storage permission in the manifest. After doing that, the keyring is persisted in different files also so I didn't need to initialize the keyring again.

[2021-12-09 14:04] #555 closed, assigned to nobody

[2021-12-09 14:40] jacogr commented on #542
This repo Webpack needs a bump to v5 - I just haven't gotten around to it. (extension and apps UI are on v5, so there are samples, it just has been a slightly lower priority in the past)

[2021-12-09 14:51] Yuripetusko commented on #542
I recently migrated to webpack 5 so can try here tonight too. will see how it goes..

[2021-12-09 15:49] jacogr commented on #542
A PR would be really appreciated... :) It shouldn't be difficult here, like I said I just never got it to.

[2021-12-18 10:37] sherry2610 opened #562 "every keyring function is returning "unable to initialize keyring""
I am currently working on extensions and want keyring in it.
I am unable to use keyring functions inside any other components of the application even after successfully executing **keyring.loadAll** in background.js.

here is my background.js
[code]
Now after this, if I am using **keyring.addUri** in any other file other than background.js it is giving error which says :
![image](https://user-imag

[2021-12-18 13:55] jacogr commented on #562
https://github.com/polkadot-js/extension/blob/master/packages/extension/manifest.json#L11

[2021-12-18 14:10] sherry2610 commented on #562
Hi @jacogr , thanks for the reply,
I am doing this as well.
Here is my manifest file :
[code]

[2021-12-18 16:03] jacogr commented on #562
1. `loadAll` calls `initKeyring`, which sets the internal keyring here - https://github.com/polkadot-js/ui/blob/master/packages/ui-keyring/src/Base.ts#L112
2. When trying to call anything, it uses `this.keyring` internally, which does this check - https://github.com/polkadot-js/ui/blob/master/packages/ui-keyring/src/Base.ts#L50-L56

So it would indicate that either the initialization has not been

[2021-12-18 16:25] sherry2610 commented on #562
the initialization is called properly because if I ran any keyring function in the background.js file , they are working fine but the problem is, those same keyring functions are not working in other files.

If let's say the initialization is not called properly then those keyring functions wouldn't work on background.js file as well but that's not the case.

It would be helpful if you tell me how

[2021-12-19 23:39] sherry2610 commented on #562
Hi @jacogr , hope you are doing great,

I've came across with a temporary workaround that I implemented the following approach mentioned in Polkadot docs and now I am initializing keyring before rendering the DOM in the index.js that exists in project root directory.

![image](https://user-images.githubusercontent.com/31837266/146694901-20a8719c-585c-4b7a-91c2-21ebbded1dba.png)

This works perfect

[2021-12-20 06:17] jacogr commented on #562
The UI and background files are isolated, they are not running in the same process.

polkadot-js extension doesn't access the keyring in the UI, it is isolated in the background - if it needs something from the keyring it passes a message to the background, the background performs the operation and sends the response back..

[2021-12-21 10:25] 5elfle5 opened #565 "Cannot run react native example"
I cloned this repo, ran "yarn install", after I first ran "yarn example:rn:packager", it complained that package vm-browserify is missing, then I added it with "yarn add vm-browserify". After that "yarn example:rn:packager" ran successfully, but "yarn example:rn:is" failed with error "No podspec found for `FBReactNativeSpec` in `../../../node_modules/react-native/Libraries/FBReactNativeSpec`". "po

[2021-12-21 13:52] jacogr commented on #565
It probably needs to be removed - there is no maintainer for it at all, so it is not being checked or verified as working.

Apart from knowing that it did work when it was added years ago, polkadot-js has no RN footprint apps or testing for it. (I don't even know how to start with RN or get the environments setup)

[2021-12-21 15:44] #565 closed, assigned to nobody

[2021-12-27 11:23] sherry2610 commented on #562
Hi @jacogr , Now I am using the keyring exactly the same way that polkadot-js extension uses it.

What I am doing now is where ever I need to do a keyring dependent thing in my UI, I first send message with required parameters to the background, the background performs the operation and sends the response back.
There is a **handlers** method in background file coming from **@polkadot/extension-bas

[2021-12-27 11:29] jacogr commented on #562
No idea, I don't have any insight into your local setups and you have things configured. This really is out of scope and certainly nothing related to this repo or any of the code here. All I can see if that you had version mismatches, those are really a no-go area. (e.g. base 0.41.2 vs chains 0.42.2)

[2021-12-27 11:58] sherry2610 commented on #562
Okay thanks for the help, since it is an out of scope question for this repo, let me know if there is any suitable platform where I can post this issue and get help.

[2021-12-30 16:38] ahsanahmed321 opened #575 "keyring account locked"
With my  current flow I am initializing keyring in the background script, getting accounts from that keyring through message passing and then injecting them into another keyring instance in my app (extension) but the accounts are locked and cannot be used for transactions can you please guide mei on this

[2021-12-30 21:07] jacogr commented on #575
2 different keyring. When adding an account to a keyring it is locked/encrypted. Decryption happens in memory when unlocked.

[2021-12-31 12:17] ahsanahmed321 commented on #575
ok Thanks

[2022-01-02 21:32] #575 closed, assigned to nobody

[2022-01-02 21:36] ahsanahmed321 opened #584 "Pair functions missing when retrieved from background"
Hi there, I am initializing keyring in the background script and then tying to get pair through message passing using address everything works fine and I do get the pair but it looks like this
{
    "pair": {
        "address": "5Dz1i42ygyhi4BxPnvKtRY4TBShTMC9T2FvaMB8CWxoU3QgG",
        "addressRaw": {
            "0": 84,
            "1": 228,
            "2": 85,
            "3": 79,

[2022-01-03 07:51] jacogr commented on #584
Please read up on what you are trying to do - https://developer.mozilla.org/en-US/docs/Web/API/Window/postMessage - JS message passing is only primitive objects, not class-like objects.

[2022-01-03 07:51] #584 closed, assigned to nobody

[2022-01-03 07:52] #562 closed, assigned to nobody

[2022-01-10 04:00] zhanggoodzhi opened #590 "Module parse failed: Unexpected token"
when import @polkadot/vue-identicon , get error  in ./node_modules/@polkadot/networks/packageInfo.js

[code]
it seems to use "import“ syntax in node_modules.
l try to transfer it with babel , but fail

[2022-01-10 05:02] jacogr commented on #590
For Webpack 4 - https://polkadot.js.org/docs/usage/FAQ#on-webpack-4-i-have-a-parse-error-on-importmetaurl

[2022-01-11 23:47] Tbaut opened #592 "Module not found: Error: Can't resolve 'react/jsx-runtime' in @polkadot/react-identicon"
In a project using with create-react-app (react-scripts 5.0) we get the following error:
[code]

I've a hard time pin-pointing where this got introduced, downgrading to @polkadot/react-identicon@0.87.7 did not solve the problem.

Some other deps that may be of interrest, all the latest stable:
[code]

Any clue why this happens?

[2022-01-12 00:00] Tbaut commented on #592
Well as usual, you look for hours, and as soon as you post the issue, something comes up. It looks like it's in no way related to react-identicon, it's a react issue, solved in react v18  (in beta right now). I upgraded to it and it's working well. react-scripts v5.0.1 should solve it as well.

https://github.com/facebook/create-react-app/issues/11769

[2022-01-12 00:00] #592 closed, assigned to nobody

[2022-01-12 03:06] #590 closed, assigned to nobody

[2022-01-12 05:19] jacogr commented on #592
I cannot recall as to why, but certainly had to apply the same workaround in apps with WP 5 -

https://github.com/polkadot-js/apps/blob/master/packages/apps/webpack.base.cjs#L171

(Honestly would have had no idea as to "how to solve" if you didn't post the link to the discussion above)

[2022-01-12 05:33] jacogr commented on #347
Closing, unlikely to be done (+ v4 in pipeline)

[2022-01-12 05:33] #347 closed, assigned to nobody

[2022-01-27 19:25] aolszewska opened #602 "ui-keyring "Buffer is not defined" error with Webpack 5"
I have just migrated to Webpack 5 (with react-scripts 5.0.0 version). I have an issue using the ui-keyring lib.

In the browser console I get an error:
[code]

It is caused by this code:
[code]

The versions of @polkadot libs:
[code]

[2022-01-27 19:34] jacogr commented on #602
This is really not a Webpack support forum, it is in the WP 5 CHANGELOG and migration guides -

- https://github.com/webpack/changelog-v5/issues/10
- https://webpack.js.org/migrate/5/ (The `Buffer: false` suggested here, although untested, should actually work - it is mean to be optional, although in the UI webpack config itself it is set as per the last SO answer, see https://github.com/polkadot-

[2022-01-27 19:51] aolszewska commented on #602
I have actually read the migration guides. I have also found this:
https://github.com/facebook/create-react-app/issues/11756#issuecomment-996464456
According to this point:

I have revirewd the ledgerhq library. As of [this issue](https://github.com/LedgerHQ/ledgerjs/issues/734) and the [linked PR](https://github.com/LedgerHQ/ledgerjs/pull/736), I guess they are not going to fix this issue.
So my

[2022-01-27 20:15] jacogr commented on #602
Without the linked package, Ledger cannot work via WebUSB. There are no alternatives for Ledger+WebUSB support.

Webpack itself has done a great job in documenting their migration and the issues around it.

As for the linked API issue, it links to a working WP4 config - nobody forces anybody to upgrade. There is also the option to stay on older versions if you want to keep older tooling.

EDIT: Fo

[2022-01-27 20:31] jacogr commented on #602
As an aside, what could be useful is an option to make the Ledger-compat opt-in instead of always applying it in the `ui-keyring` by default. If you believe it could add value, logging an issue for that to keep it on the radar would be good - it would break for those using it, but can be marked in the CHANGELOG with the steps to add the behavior.

PS: And yes, I absolutely despise `Buffer` depende

[2022-01-28 12:11] aolszewska commented on #602
Thanks very much for your answers. Now I understand why this ledgerhq lib is essential. An opt-in would be an option, if I will not overcome the issue I'm facing, I will create an issue for that.
I will post here a solution for the problem once I found any :)
Thankd again!

[2022-02-01 07:04] jacogr commented on #602
1.0.1 has the `Ledger` export removed. I tested it against the example configs and the additional polyfil is not needed anymore, e.g. https://github.com/polkadot-js/ui/pull/606/files#diff-bb005282efb088567aa3972cb544c4e045b6a41e4297867336946bbb6e6d5a64L40

Closing this one with the above release in mind.

[2022-02-01 07:04] #602 closed, assigned to nobody

[2022-02-10 05:21] jacogr opened #611 "Vue 2 & 3 compat"
Not sure how that story plays out - when just bumping the deps to 3.x we have issues. If not compatible, need some way to support both.

[2022-03-20 04:00] tinydjp commented on #611
Hi @jacogr may I know is there any plan for the upgrade?

[2022-03-20 06:57] jacogr commented on #611
It needs to be done, which is why it is logged. :)

PRs for a Vue 3.x version that replaces `Vue.extend` with `createComponent` always welcome.

When releasing it it will mean that we will bump to version 2.0 here and probably provide the old/current version as `@polkadot/vue2-identicon` (so users can use either version, but the default being the one on the latest Vue 3 framework)

[2022-04-19 12:42] Danchev1 opened #634 "@polkadot/react-identicon - Import problem"
Greetings,

at our company we are build a staking app base on polkadot/kusama ws, and for our drop down im trying to use the '@polkadot/react-identicon', i've implemented in a standart way as in the example
[code]
using react 16 / react-scripts 5 ,
the error i get is related to the import

[code]

[2022-04-19 13:39] jacogr commented on #634
Have certainly not run into this before, but also have not used React 16 in a while. Some googling suggests that this may help - https://github.com/facebook/create-react-app/issues/11769#issuecomment-997152888

[2022-04-27 17:04] jacogr commented on #634
Actually, seems like the apps UI, ui-components, etc. did follow the advice below (that was removed this week after an upgrade).

Aka this was added previously to the WebPack config to work around the React exports not being comprehensive - https://github.com/polkadot-js/apps/pull/7430/files

[2022-05-01 01:54] RustemYuzlibaev opened #639 "Persistence storage in Electron.js for accounts"
Hi! @jacogr

If I understood correctly all operations related to transferring assets, locking/unlocking accounts, etc. are only possible when [suri, password, name] are added to keyring instance and they [accounts] are only available at the time keyring resides in-memory, meaning, after page refresh or close of an Electron app everything [credentials] is gone and I no longer can interact with appl

[2022-05-01 15:49] jacogr commented on #639
You can supply any store in the keyring. Here is the version the apps UI uses for the Electron Apps UI with persistent storage - https://github.com/polkadot-js/apps/blob/master/packages/apps-electron/src/renderer/remote-electron-store.ts

[2022-05-07 10:21] sxlwar opened #640 "identicon not work on nextjs"
![image](https://user-images.githubusercontent.com/20088392/167250170-42c2df8e-ecca-4047-8655-4dd7d8b431d2.png)my babel config

[code]
version: "@polkadot/react-identicon": "^2.1.1",

[2022-05-09 06:54] RustemYuzlibaev commented on #639
@jacogr
This is the flow I'm taken:
1. `keyring.addUri()` - supplying suri, password and meta; that's call sets pair in BrowserStorage
2. After reloading the page it is being called `keyring.loadAll()` in the app which under the hood invokes loadAccount which adds (refreshes?) accounts back to keyring:
<img width="658" alt="Screenshot 2022-05-09 at 11 48 39" src="https://user-images.githubusercont

[2022-05-10 10:00] jacogr commented on #640
Never used Next, however some light googling brings up this - https://dev.to/aprietof/nextjs--styled-components-the-really-simple-guide----101c

So it seem like you need to change `babel-plugin-styled-components` to `styled-components` in your config. YYMV.

[2022-05-10 12:46] RustemYuzlibaev commented on #639
@jacogr
According to what's checked in tests in @polkadot/common,
the flow is a little bit different..
Here:
1. It is used `createFromUri()`,
2. Then, `pair.toJson()` with password
3. After I can recreate pair and `unlock()`, ((?)hopefully after keyring instance has gone from in-memory residence).
<img width="914" alt="Screenshot 2022-05-10 at 17 37 33" src="https://user-images.githubusercontent.c

[2022-05-10 12:48] RustemYuzlibaev commented on #639
Is only last approach working or both?

[2022-05-23 10:42] dcolley opened #642 "vue-identicon has redundant <div> wrappers"
A `div` wrapper causes problems with using the identicon inline.

The `div` can be replaced by `span`, which is better for inline.

Alternatively, we can use the `render()` function instead of `template`. This gives us full control over the render process and we don't need any wrapper element.

As an example: Here is a reworked `vue-identicon/icons/Polkadot.js`

[code]

PR coming shortly.

[2022-05-23 10:47] jacogr commented on #642
I love issues with a "PR coming shortly" line at the end - looking forward to it.

[2022-05-23 13:10] dcolley commented on #611
In my experience vue2 and vue3 are different enough to require different repos / branches

[2022-05-23 13:23] jacogr commented on #611
It is a bit out of my wheelhouse... but if possible, would prefer to have `package/vue2-identicon` and `packages/vue-identicon` for vue3. They do operate independently inside `packages/*`.

If not at all possible.... well, then I guess The 2.x series would be for vue 2 and vue 3 will need a major bump. (It would need a major bump when renaming anyway, so with either option that is a given)

[2022-05-25 17:50] #634 closed, assigned to nobody

[2022-05-30 07:45] RustemYuzlibaev opened #646 "Unable to decode using the supplied passphrase"
@jacogr
Hello

I've been constantly facing error saying: `Unable to decode using the supplied passphrase`

The app uses BrowserStorage for accounts storing. Every time application starts/restarts (page refresh/opening tab) it calls `loadAll()` method which under the hood adds back accounts from LocalStorage as I believe (I can see them by calling `getPairs()`) but when I'd like to `unlock()` a pai

[2022-06-07 11:44] #640 closed, assigned to nobody

[2022-06-07 17:47] #639 closed, assigned to nobody

[2022-06-27 11:44] #646 closed, assigned to nobody

[2022-07-01 15:06] #642 closed, assigned to nobody

[2022-07-04 17:29] muharem opened #661 "Stacktrace of an error is cut in the middle"
* **I'm submitting a ...**

  - [ ] Bug report
  - [x] Feature request
  - [ ] Support request (please bear the comments above in mind)
  - [ ] Other

* **What is the current behavior and expected behavior?**

Current behavior: Stacktrace of the error is cut in the middle.

![Screenshot 2022-07-04 at 19 23 00](https://user-images.githubusercontent.com/6050188/177198064-a00141fc-c4bb-4a8b-aff4-2fb5

[2022-07-04 17:42] jacogr commented on #661
It is intentional - https://github.com/polkadot-js/api/blob/master/packages/rpc-provider/src/coder/index.ts#L10-L24

[2022-07-06 16:02] muharem commented on #661
@jacogr make sense, it should have an upper limit.
What if increase it? We come up with some reasonable limit for traces, so that they are not being cut, and in UI we can collapse the error block if the message is too big.
What you think?

[2022-07-06 16:06] jacogr commented on #661
That is purely for runtime errors - even the 256 limit is too high.

You cannot debug the runtime WASM from that so even if 2k in length is conveys no more info than “the runtime couldn’t deal with it” and failed.

[2022-07-08 12:06] muharem commented on #661
@jacogr can't argue it, have a little experience with wasm runtime.

One thing I would propose, is to output the full trace to console.
It can have two parts,
1. Print full trace to console
2. If error/trace length is greater than MAX_len, add hepper note, that full trace can be found in console.

[2022-07-08 12:13] jacogr commented on #661
Outputting the full trace to the console make anybody using the JS API have useless logs. This impacts all CLIs, all tools written using the API, all UIs using it. (This is around 90% of the ecosystem that interacts with the chains programatically)

This is why the logs are cut on the API layer - it doesn't make it anywhere near the users of the API - like mentioned, it is actually useless since i

[2022-07-11 09:18] muharem commented on #661
@jacogr it make sense to me.
We had an issue with not full trace with @pepyakin
I would just wait a bit if Sergei has anything to add.
And after we can close the issue, if there is nothing new.

[2022-07-11 10:04] jacogr commented on #661
If you _need_ a trace for the 1 person that can read these - you can get it from the apps UI under the networks tab, i.e. response from the actual RPC itself upon making the call. (This is for the 0.01% of cases where it would be useful)

[2022-07-11 12:07] pepyakin commented on #661
It's hard to agree with you on the "non-debuggable" part. If anything, I would really prefer if error reports for runtime came with the most amount of diagnostics available.

Of course, the end-user, especially in the case of more user-oriented apps than polkadot.js/apps, should not get the debugging vomit by default. Ideally, there is a button "Report an issue". For that, the entire stack (wasm e

[2022-07-20 15:37] vikiival commented on #611
It is possible to use [Vue-demi](https://github.com/vueuse/vue-demi)

[2022-07-20 16:27] dcolley commented on #611
I would not recommend tracking different versions of vue in your code - that's what branches are for.

[2022-08-04 08:28] sonicsmith opened #672 "Identicon throws error in NextJS"
* **I'm submitting a bug**

  - [x] Bug report
  - [ ] Feature request
  - [ ] Support request
  - [ ] Other

* **What is the current behavior and expected behavior?**

Error is displayed: `error - TypeError: styled is not a function`
from the Identicon library. This is from the `styled-components` import.

Identicon component should display as normal, even when using NextJS.

* **What is the moti

[2022-08-04 08:41] jacogr commented on #672
This is one of those where there is really nothing I can do here. We are not going to remove styled-components.

How it is meant to work in a server-based environment (which is not the focus of these libs, it is meant for pure React + browser) is not something I can comment on.

If you find workarounds (I am not going to Google more like in the linked issue since I cannot test this environment at

[2022-08-04 08:56] sonicsmith commented on #672
Thanks for the quick reply @jacogr . I will list any work arounds I find.

[2022-08-08 17:48] #661 closed, assigned to nobody

[2022-08-15 23:11] niklasp commented on #672
yes please, having the same issue, want to display identicons on next @sonicsmith

[2022-09-08 01:55] lautaro-osacar commented on #672
@sonicsmith @niklasp

Hey! I'm new on NextJS, but I could make it work making an Identicon component and disabling ssr for that specific component using [this](https://nextjs.org/docs/advanced-features/dynamic-import#with-no-ssr):

[code]

Then you can just use `IdenticonWithoutSSR` it like a regular `Identicon` component.

[2022-09-08 15:07] montekki opened #693 "Support for Moonbeam addresses in Signer + Extension"
* **I'm submitting a ...**

  - [ ] Bug report
  - [x] Feature request
  - [ ] Support request
  - [ ] Other

* **What is the current behavior and expected behavior?**

With the start of development of support for Eth-like addresses in Signer in paritytech/parity-signer#1268 we've found out that adding these arrds from Signer into the Extension with QR codes does not work. The format that we are u

[2022-09-29 18:41] jacogr commented on #693
Most probably needs to move to the ui repo - QRs are parsed in the react-qr package ( as I recall).

EDIT: Indeed, there is only Substrate support (prefix being the `substrate` constant), https://github.com/polkadot-js/ui/blob/7d9fb9071184b7e620681df59c69444654aaabd7/packages/react-qr/src/util.ts#L31-L33

So would have some bubble-up effects in the display component as well where it would need add

[2022-10-06 06:02] #672 closed, assigned to nobody

[2022-10-14 23:40] hydeaintsick opened #685 "Camera Scan for Polkadot Identicon on React Native"
Hi,

I am looking for a way to create a scanner for the react-native identicon. Is there a white paper somewhere to explain how is generated the identicon from address in order to develop it on my own ? I will then make a pull request for you to enjoy this feature because I am sure it could be a nice feature for all react native developers.

Best Regards,

Victor

[2022-10-22 11:05] 99Kies opened #687 "I want to robohash the image, how should I set it."
polkadot.js page:

<img width="654" alt="image" src="https://user-images.githubusercontent.com/45918704/197335659-dea2df16-f2fa-4954-976b-bd7b2f80399f.png">

my code:

[code]

my page:

<img width="488" alt="image" src="https://user-images.githubusercontent.com/45918704/197335623-ca5bad70-b3c4-4e92-b3da-f3a9994a2227.png">

[2022-10-22 13:01] jacogr commented on #687
It is specific to the apps UI.

More of a fun exercise, and not shipped anywhere outside of the apps UI since it has a massive image-size costs, which in turn would assume a certain bundler setup.

All other types of identity icons are generated programmatically, so it does not have this issue size/assumption/shipping issue.

[2022-10-22 13:07] 99Kies commented on #687
@jacogr The client browser should be responsible for the calculation here, and I believe it would be interesting to put this robohash in the project's front-end application.

[2022-11-05 10:02] jacogr commented on #685
The code for the icon generation is here - https://github.com/polkadot-js/ui/blob/master/packages/ui-shared/src/icons/polkadot.ts

(As you can see in the comments, there is no "white paper", rather just an [original canonical implementation](https://github.com/polkadot-js/ui/blob/fdf756d56bd0917053b610ad94e1c968858cd55c/packages/ui-shared/src/icons/polkadot.ts#L6-L8) that is linked to)

You won't

[2022-11-19 17:44] #687 closed, assigned to nobody